@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #fcdbce;
} */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff5003;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 47.32875300583994,108.26348333905875 94.65750601167989,83.52696667811749 167,86 C 239.34249398832011,88.47303332188251 336.6987289591205,118.15561662658877 423,133 C 509.3012710408795,147.84438337341123 584.5475781518379,147.85056681552732 640,137 C 695.4524218481621,126.14943318447267 731.1109584335279,104.44211611130196 795,93 C 858.8890415664721,81.55788388869804 951.0085881140501,80.38096873926486 1020,94 C 1088.99141188595,107.61903126073514 1134.8546891102712,136.03400893163862 1201,145 C 1267.1453108897288,153.96599106836138 1353.5726554448643,143.4829955341807 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 67.20164891789761,146.84678804534525 134.40329783579523,160.69357609069047 197,155 C 259.59670216420477,149.30642390930953 317.5884575747167,124.0724836825833 393,110 C 468.4115424252833,95.9275163174167 561.2428718653383,93.0164891789763 623,91 C 684.7571281346617,88.9835108210237 715.4400549639298,87.8615596015115 792,98 C 868.5599450360702,108.1384403984885 990.9969082789421,129.53727241497765 1064,126 C 1137.003091721058,122.46272758502235 1160.5723119203024,93.98935073857783 1215,91 C 1269.4276880796976,88.01064926142217 1354.713844039849,110.50532463071109 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 67.42081758845757,139.2995534180694 134.84163517691513,145.5991068361388 194,135 C 253.15836482308487,124.40089316386123 304.0542768807971,96.90312607351424 377,91 C 449.9457231192029,85.09687392648576 544.9412572998968,100.7883888698042 615,108 C 685.0587427001032,115.2116111301958 730.1806939196154,113.943318447269 788,119 C 845.8193060803846,124.056681552731 916.3359670216419,135.4383373411199 1002,128 C 1087.6640329783581,120.56166265888011 1188.4754379938165,94.30333218825147 1264,92 C 1339.5245620061835,89.69666781174853 1389.7622810030916,111.34833390587426 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 67.6887667468224,102.9154929577465 135.3775334936448,72.83098591549297 192,86 C 248.6224665063552,99.16901408450703 294.1786327722432,155.59154929577463 375,168 C 455.8213672277568,180.40845070422537 571.9079354173823,148.80281690140848 646,139 C 720.0920645826177,129.19718309859152 752.1896255582275,141.19718309859155 808,138 C 863.8103744417725,134.80281690140845 943.3335623497082,116.40845070422534 1014,108 C 1084.6664376502918,99.59154929577466 1146.4761250429403,101.16901408450704 1216,107 C 1285.5238749570597,112.83098591549296 1362.76193747853,122.91549295774648 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 47.32875300583994,108.26348333905875 94.65750601167989,83.52696667811749 167,86 C 239.34249398832011,88.47303332188251 336.6987289591205,118.15561662658877 423,133 C 509.3012710408795,147.84438337341123 584.5475781518379,147.85056681552732 640,137 C 695.4524218481621,126.14943318447267 731.1109584335279,104.44211611130196 795,93 C 858.8890415664721,81.55788388869804 951.0085881140501,80.38096873926486 1020,94 C 1088.99141188595,107.61903126073514 1134.8546891102712,136.03400893163862 1201,145 C 1267.1453108897288,153.96599106836138 1353.5726554448643,143.4829955341807 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 73.71075231879078,261.05462040535895 147.42150463758156,256.10924081071795 228,251 C 308.57849536241844,245.89075918928205 396.02473376846444,240.6176571624871 449,231 C 501.97526623153556,221.3823428375129 520.4795602885607,207.4201305393336 579,226 C 637.5204397114393,244.5798694606664 736.0570250772931,295.7018206801786 811,306 C 885.9429749227069,316.2981793198214 937.2923394022671,285.7725867399519 999,279 C 1060.707660597733,272.2274132600481 1132.773617313638,289.20783236001375 1208,291 C 1283.226382686362,292.79216763998625 1361.613191343181,279.3960838199931 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 85.34799038131226,243.11851597389216 170.69598076262452,220.2370319477843 230,231 C 289.3040192373755,241.7629680522157 322.56406733081417,286.17038818275506 386,298 C 449.43593266918583,309.82961181724494 543.0477499141189,289.0814153211955 614,268 C 684.9522500858811,246.9185846788045 733.2449330127105,225.50395053246305 799,231 C 864.7550669872895,236.49604946753695 947.9725180350395,268.9027825489522 1014,288 C 1080.0274819649605,307.0972174510478 1128.8649948471316,312.88491927172794 1197,307 C 1265.1350051528684,301.11508072827206 1352.5675025764342,283.557540364136 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 50.717279285468905,256.9103400893164 101.43455857093781,247.82068017863276 173,241 C 244.5654414290622,234.17931982136724 336.9790450017177,229.62761937478533 423,233 C 509.0209549982823,236.37238062521467 588.6492614221917,247.66884232222606 645,268 C 701.3507385778083,288.33115767777394 734.4239093095156,317.69701133631054 794,314 C 853.5760906904844,310.30298866368946 939.6551013397457,273.5431123325318 1010,256 C 1080.3448986602543,238.4568876674682 1134.9556853315012,240.13053933356233 1204,245 C 1273.0443146684988,249.86946066643767 1356.5221573342494,257.93473033321885 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 51.21676399862591,269.53624184129166 102.43352799725182,273.0724836825833 177,273 C 251.56647200274818,272.9275163174167 349.4826520096186,269.2463071109584 418,272 C 486.5173479903814,274.7536928890416 525.6358639642735,283.9422878735829 584,270 C 642.3641360357265,256.0577121264171 719.9738921332874,218.9845413947097 794,226 C 868.0261078667126,233.0154586052903 938.4685675025764,284.1195465475781 1018,288 C 1097.5314324974236,291.8804534524219 1186.1518378564067,248.53727241497768 1258,237 C 1329.8481621435933,225.46272758502232 1384.9240810717965,245.73136379251116 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 73.71075231879078,261.05462040535895 147.42150463758156,256.10924081071795 228,251 C 308.57849536241844,245.89075918928205 396.02473376846444,240.6176571624871 449,231 C 501.97526623153556,221.3823428375129 520.4795602885607,207.4201305393336 579,226 C 637.5204397114393,244.5798694606664 736.0570250772931,295.7018206801786 811,306 C 885.9429749227069,316.2981793198214 937.2923394022671,285.7725867399519 999,279 C 1060.707660597733,272.2274132600481 1132.773617313638,289.20783236001375 1208,291 C 1283.226382686362,292.79216763998625 1361.613191343181,279.3960838199931 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
}

.no-margin {
  margin-top: 0 !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100% !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
